<DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MileTrav : Who live see much , Who travel see more</title>

    <!--
      Omise.js works best with Internet Explorer standard mode. It is
      recommended to add this <meta> tag if one does not already exists.
    -->
    <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/css/jquery-ui/jquery-ui.css" rel="stylesheet">
  <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/rs-plugin/css/settings.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/css/selectbox/select_option1.css">
  <link rel="stylesheet" type="text/css" href="/css/datepicker/datepicker.css">
  <link rel="stylesheet" type="text/css" href="/css/isotope/jquery.fancybox.css">
  <link rel="stylesheet" type="text/css" href="/css/isotope/isotope.css">

  <!-- GOOGLE FONT -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <!-- CUSTOM CSS -->
  <link href="/css/style.css" rel="stylesheet">

  </head>
  <body class="comingSoonBg">
    <div class="comingTitle">
        <img src="img/logo-white.png" alt="image">
        <p style="color: white;">Who live see much , Who travel see more</p>
      </div>
      <section class="comingContent">
        <h1>We are coming soon</h1>
        <p>We are currently working hard on launching our website.</p>
        <div class="count-down clearfix">
          <div id="simple_timer"></div>
        </div>
      </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/plugins/jquery-ui/jquery-ui.js"></script>
   <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
   <script src="/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
   <script src="/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
   <script src="/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
   <script src="/plugins/datepicker/bootstrap-datepicker.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
   <script src="/plugins/counter-up/jquery.counterup.min.js"></script>
   <script src="/plugins/isotope/isotope.min.js"></script>
   <script src="/plugins/isotope/jquery.fancybox.pack.js"></script>
   <script src="/plugins/isotope/isotope-triger.js"></script>
   <script src="/plugins/countdown/jquery.syotimer.js"></script>
   <script src="/js/custom.js"></script>
   <script>
   jQuery(document).ready(function() {
    $('#simple_timer').syotimer({
           year: 2017,
           month: 2,
           day: 23,
           hour: 0,
           minute: 0,
       });
   });
   </script>
  </body>
</html>
